/*


First Color : #08526d
Second Color : #ec1c23
*/
/*
Start upper bar 

*/
body{
	height: 2000px;
}
.upper-bar{
	background-color: #08526d;
	color: beige;
}

.upper-bar i{
	margin-right: 25px;
}


.get-quote{
	display: inline-block;
	border:1px solid red;
	padding: 2px 10px;
	margin-left: 20px;
}

/*
End upper bar 

Start Navbar

*/
.navbar-brand span{
	
}

.navbar-brand span:first-child{
	font-weight: bold;
	color: #08526d
}

.navbar-brand span:last-child{
	color: #ec1c23
	}
	
 .navbar-nav .nav-link {
	
	margin-left: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color: #08526d !important;

	}

	/*Link Active*/
	.navbar-nav .active > .nav-link {
		font-weight:600; 
		color: #ec1c23 !important; 
	
	}
	/*
End Navbar 

/*Slider*/
.slider{
	background-color:darkseagreen;
}
.slider .carousel-inner h1{
	color: #ffffff;
	position: absolute;
	z-index: 3;


}
.slider .overlay {

	background-color:rgba(0,0,0, .6);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;

}
.slider .carousel-item{
	-webit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.slider .carousel-one{
	background-image: url('../images/img1.jpg');
}

.slider .carousel-two{
	background-image: url('../images/img2.jpg');
}
.slider .carousel-three{
	background-image: url('../images/img3.jpg');
}

/*End Slider*/

/*Start Features */

.features{
	padding: 50px;	
}

.features i{
	background-color: #ec1c23;
	color: #ffffff;
	padding: 12px;
	margin-bottom: 10px;
}

.features h3{
	color: #08526d;
	font-size: 20px;
}

.features p{
	color: #989898;
	margin-bottom: 20px;
}

.overview{
	padding: 100px;
	background-color:#f0f5f7;
}

.overview h2{
font-weight: bold;
color: black;
margin-bottom: 20px; 
}

.overview p{
	color: #6a6a6a;
	margin-bottom: 20px; 
}
.overview h4{
	color: #858383;
	font-size: 15px;
	letter-spacing: 2px;
}

.overview button{
	color: #fff;
	background-color: #ec1c23;
	border: none;
	padding: 10px;
	letter-spacing: 5px;
}

.featured-work{
	padding: 50px; 
}
.featured-work h2{
	padding: 25px; 
}
.featured-work p{
	color: #6a6a6a;
	margin-bottom: 20px; 
}
.featured-menu{
	margin-top: 40px;
	list-style-type:none
	
}
.featured-menu li {
	color: #08526d;
	padding: 10px 20px;
	border: solid 2px #08526d;
	margin-right: 5px;
	margin-bottom:5px; 
	letter-spacing: 3px;
	font-size: 15px;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	
}
.featured-menu li.active,.featured-menu li:hover {
	
	border: solid 2px #ec1c23;
	background-color: #ec1c23;
	color: #fff;
} 
.featured-menu li:hover {
	cursor: pointer;
}
.featured-img .row{
	margin: 0;
}
.featured-img .row .col-sm{
	padding: 0px;
}

 .featured-img .row .col-sm img{ 
	width: 100%;
}


/*End Features */